# ignore ds store
.DS_Store

# Dont push the output images
outputs/*

# Dont push the combined images
combined/*

# Dont push data source
dataset-resized.zip
dataset-resized/glass/*
dataset-resized/cardboard/*
dataset-resized/metal/*
dataset-resized/paper/*
dataset-resized/plastic/*
dataset-resized/trash/*
